.header {
    margin-top: -1%;
    margin-left: -1%;
    margin-right: -1%;
    background-color: lightblue;
    padding: 1%;
}

.antwort{
    width: 70px;
}

.antwort:hover{
    opacity: 0.5;
}

.antwort:active{
    width:72px;
}

.figur{
    height: 400px;
    border: lightblue 5px solid;
}